#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <3 3>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp LG(Z)  &kp LS(LG(Z))   &kp B                  &kp E              &kp G                  &kp I      &none  &none  &none  &none  &none  &none
&none      &kp V           &kp LC(RIGHT_BRACKET)  &kp RIGHT_BRACKET  &kp LC(LA(C))          &kp LC(C)  &none  &none  &none  &none  &none  &none
&none      &kp LA(DELETE)  &kp LA(LEFT_BRACKET)   &kp RET            &kp LA(RIGHT_BRACKET)  &kp LA(N)  &none  &none  &none  &none  &none  &none
                                                  &sl 1              &kp LEFT_SHIFT         &sl 2      &none  &none  &none
            >;
        };

        riese {
            bindings = <
&kp ESCAPE     &kp DELETE    &kp LC(LS(I))  &kp M      &kp Q           &kp W      &none  &none  &none  &none  &none  &none
&none          &kp LG(X)     &kp LG(C)      &kp LG(V)  &none           &none      &none  &none  &none  &none  &none  &none
&kp LG(MINUS)  &kp LG(PLUS)  &none          &none      &kp LC(H)       &kp LC(V)  &none  &none  &none  &none  &none  &none
                                            &sl 1      &kp LEFT_SHIFT  &sl 2      &none  &none  &none
            >;
        };

        lower {
            bindings = <
&none  &none  &none  &none  &none           &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none           &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none           &none  &none  &none  &none  &none  &none  &none
                     &sl 1  &kp LEFT_SHIFT  &sl 2  &none  &none  &none
            >;
        };

        system {
            bindings = <
&bootloader  &none           &none         &none         &none         &none         &none         &none         &none         &none         &none           &bootloader
&bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &bt BT_CLR
&sys_reset   &bt BT_CLR_ALL  &none         &none         &none         &none         &none         &none         &none         &none         &bt BT_CLR_ALL  &sys_reset
                                           &trans        &none         &trans        &none         &trans        &trans
            >;
        };
    };
};
